<launch>

  <node pkg="laser_odom_calibration" name="calib" type="io_test" output="screen">
    <param name="file_path" type="string" value="$(env HOME)/" />
    <param name="bagname" type="string" value="laser_calib" />
    <param name="laser_topic" type="string" value="/scan" />
    <param name="odom_topic" type="string" value="/odom" />
  </node>

</launch>
